<div class="banner">
    <div class="banner-text text-center">
        <h2>Certified and Award Winning Car Repair Service Provider</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error delectus dolor assumenda ratione excepturi neque minima, aperiam voluptatem incidunt aliquid illo, minus vero esse quaerat. Voluptate corrupti dicta ab beatae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eius sunt reprehenderit saepe dolore maiores, modi consequatur maxime beatae eligendi quod sapiente atque suscipit molestiae libero exercitationem laudantium? Minima, ex!</p>
        <div>
            <a href="#" class="btn btn-dark">Book Service</a>
        </div>
    </div>
</div>